<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.wechat.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.yy.wechat.model.entity.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="totalAmount" column="total_amount" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="isdeleted" column="isDeleted" jdbcType="TINYINT"/>
            <result property="tableId" column="table_id" jdbcType="INTEGER"/>
            <result property="eatNumber" column="eat_number" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="payType" column="pay_type" jdbcType="INTEGER"/>
            <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
            <result property="myCouponId" column="my_coupon_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,total_amount,status,created_at,updated_at,
        isDeleted,table_id,eat_number,remark,pay_type,
        coupon_id,my_coupon_id
    </sql>
</mapper>
